    <!-- ******FEATURES****** -->
    <section id="interests" class="interests section">
        <div class="container">
            <h2 class="title">My interests</h2>
            <ul class="interests-list list-unstyled">
                <li><i class="fa fa-check"></i> Business (especially its relationship with IT)</li>
                <li><i class="fa fa-check"></i> Technology, specifically;</li>
                	<li><i class="fa fa-check"></i> Linux</a></li>
                	<li><i class="fa fa-check"></i> Android</a></li>
                	<li><i class="fa fa-check"></i> Systems Administration</a></li>
                	<li><i class="fa fa-check"></i> Security</a></li>
                	<li><i class="fa fa-check"></i> Latest consumer hardware</a></li>
                <li><i class="fa fa-check"></i> <i>Anything open source!</i></a></li>
                <li><i class="fa fa-check"></i> Music / Music festivals</li>
                <li><i class="fa fa-check"></i> Avid watcher of documentaries</li>
                <li><i class="fa fa-check"></i> I love reading</li>
            </ul>
        </div><!--//container-->
    </section><!--//interests-->
